# Woche 7 - Modellierung von Geodaten in SQL

## 7-1 SQL
- Structed Query Language (SQL): Standardisierte Sprache zur Definition und Manipulation relationaler Datenbanken

```SQL
CREATE TABLE sensor (
id INT PRIMARY KEY NOT NULL,
artikelnummer INT NOT NULL,
name VARCHAR,
frequenz INT,
praezision FLOAT,
FOREIGN KEY (smartphone) REFERENCES smartphone (artikelnummer)
);

| Sensor         | ID  | Name                | Frequenz (Hz) | Präzision       | Smartphone |
|----------------|-----|---------------------|----------------|------------------|------------|
|                |     |                     |                |                  |            |
|                |     |                     |                |                  |            |
|                |     |                     |                |                  |            |
|                |     |                     |                |                  |            |
|                |     |                     |                |                  |            |
|                |     |                     |                |                  |            |
|                |     |                     |                |                  |            |

```SQL
INSERT INTO sensor VALUES (1, 'IMU', 200, 0.01, 1001),
(2, 'IMU', 100, 0.001, 1002), (3, 'Kamera', 30, 0.1, 1001);

<center>
sensor
</center>

|ID  |Name   |   Frequenz (Hz)  | Präzision | Smartphone |
|--------|-----|---------|----------------|-----------|
| 1      | IMU    |  200    |      0.01          |   1001        |
| 2      |  IMU   |    100  |           0.001     |   1002        |
| 3      | Kamera    |  30 |             0.1   |      1001     |

<br>
<br>

```SQL
CREATE TABLE position (
id INT PRIMARY KEY NOT NULL,
timestamps INT,
geom geometry(POINT, 25832)
);

INSERT INTO position VALUES (101, 1742386937742, 'POINT(30.3,10.1)'),
(102, 1742386937867, 'POINT(42.7,12.3)');

<center>
position
</center>

|ID  |timestamps   |   geom (Hz)  |
|--------|-----|---------|
| 101      | 1742386937742    |  POINT(30.3,10.1)    |     
| 102    |  1742386937867   |    POINT(42.7,12.3)  |

## Koordinatenbezugssysteme (KBS)

- KBS in PostGIS werden durch SRIDs identifiziert  
  • Spatial Reference System Identifier (SRID)

- EPSG Geodetic Parameter Datenbank (EPSG codes)  
  • European Petroleum Survey Group Geodesy (EPSG)


<table style="border: 1px solid #ccc; border-collapse: collapse;>
   
  <tr style="background-color: #eee;">
    <th>Code</th><th>Name</th>
  </tr>
  <tr>
    <td>4326</td><td>Geografische Koordinaten WGS84 Bezugssystem</td>
  </tr>
     <tr>
    <td>25832</td><td>UTM Zone 32N, ETRS89 (European Terrestrial Reference System 1989)</td>
  </tr>
     <tr>
    <td>3857</td><td>WGS 84 / Pseudo-Mercator</td>
  </tr>
     <tr>
    <td>....</td><td>...</td>
  </tr>
</table>
<br>
<br>

## 7-2 Anfragen auf Tabellen

### Welche Sensoren hat das Smartphone 1001?

<center>
sensor
</center>

|ID  |Name   |   Frequenz (Hz)  | Präzision | Smartphone |
|--------|-----|---------|----------------|-----------|
| 1      | IMU    |  200    |      0.01          |   1001        |
| 2      |  IMU   |    100  |           0.001     |   1002        |
| 3      | Kamera    |  30 |             0.1   |      1001     |


 
```SQL
SELECT * FROM sensor WHERE smartphone = 1001;

#### Ergebnis:

|ID  |Name   |   Frequenz (Hz)  | Präzision | Smartphone |
|--------|-----|---------|----------------|-----------|
| 1      | IMU    |  200    |      0.01          |   1001        |
| 3      | Kamera    |  30 |             0.1   |      1001     |

### Wo die Trajektorie beginnt und endet:

<br>
<br>
<center>
position
</center>

|ID  |timestamps   |   geom (Hz)  |
|--------|-----|---------|
| 101      | 1742386937742    |  POINT(30.3,10.1)    |     
| 102    |  1742386937867   |    POINT(42.7,12.3)  |   
| 103    |  1742386937875   |    POINT(46.1,13.5)  |

```SQL
(SELECT geom FROM position ORDER BY timestamps ASC LIMIT 1)
UNION ALL
(SELECT geom FROM position ORDER BY timestamps DESC LIMIT 1)

#### Ergebnis:
    
|ID  |timestamps   |   geom (Hz)  |
|--------|-----|---------|
| 101      | 1742386937742    |  POINT(30.3,10.1)    |     
| 103    |  1742386937875   |    POINT(46.1,13.5)  |